<!DOCTYPE html>
<html lang="uk">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Завдання 4.2</title>
</head>

<body>
   <a href="../index.html">Назад</a>

   <h1>Завдання 2</h1>
   <p>Повернути квадратний корінь введеного невід'ємного числа.</p>

   <p>Маючи заборону використовувати вбудовані функції отримання квадратного кореню, та отримавши умову повертати ціле
      чило, найоптимальнішим шляхом здається самий класичний цикл що перебирає цілі числа в пошуку оптимального
      значення, а саме найбільшого числа, квадрат якого не перевищує вказане значення</p>
   <p>додаю код функції яка виконує цю операцію, а в консолі коректність роботи можна перевірити вказавши
      <b>getSquareRoot(x)</b>
   </p>
   <p id="function"></p>



   <script src="../js/Algorithm_2.js"></script>
</body>

</html>