<!DOCTYPE html>
<html lang="uk">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Завдання 4.1</title>
</head>

<body>
   <a href="../index.html">Назад</a>

   <h1>Завдання 1</h1>
   <p>Поміняти значення “x” та “y” місцями без введення третьої змінної</p>
   <ol>
      <li>
         <p>Крок 1. Значення першої змінної змінюємо на суму цих змінних</p>
         <P id="step-1__demo">Рівняння: x = x + y</P>
         <P id="step-1__result">Проміжні результати: x: 9 y: 6</P>
      </li>
      <li>
         <p>Крок 2. На місце другої змінної підставляємо початкове значення першої змінної, знайшовши різницю між
            поточним значенням першої змінної та значенням другої змінної</p>
         <P id="step-1__demo">Рівняння: y = x - y </P>
         <P id="step-1__result">Проміжні результати: x: 9 y: 3</P>
      </li>
      <li>
         <p>Крок 3. Оскільки перша змінна в нас досі сума початкових значеннь обох змінних,а друга змінна на даний
            момент рівна початковому значенню першої, то їх різниця і буде початковим значенням другої змінної</p>
         <P id="step-1__demo">Рівняння: x = x - y</P>
         <P id="step-1__result">Проміжні результати: x: 6 y: 3</P>
      </li>
   </ol>

   <p>Стабільну роботу можна перевірити передавши до консолі функцію <b>toggleVariable(x, y)</b>.</p>

   <p>Також як альтернативний варіант можна використати Локальне сховище, пропонувати лише його я не наважився, адже
      подібне рішення хоч і не використовує додаткових змінних, але використовує альтернативне сховище яке ми й
      використовуємо для підміни значень</p>
   <p>Тобто таким чином ми можемо відразу записати в окреме сховище початкові значення змінних, а потім їх дістати
      провівши підміну(приклад поданий в функції <b>toggleVariableWithLS(x, y)</b>).
      За цим же принципом ми можемо й використовувати особливості зони видимості змінних, тоюто варіантів безліч.</p>

   <script src="../js/Algorithm_1.js"></script>
</body>

</html>