<!DOCTYPE html>
<html lang="uk">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Завдання 4.3</title>
</head>

<body>
   <a href="../index.html">Назад</a>

   <h1>Завдання 3</h1>
   <p>Повернути перевернуте число</p>

   <ol>
      <li>
         <p>Крок 1.в першу чергу відкинемо всі можливі останні нулі, незважаючи на те чи він там 1 чи десятки</p>
      </li>
      <li>
         <p>Крок 2. Проведемо перевірку на те чи є від'ємним задане число, у випадку якщо так, то перенесемо "-" відразу
            на останню позицію</p>
      </li>
      <li>
         <p>Крок 3. Число, а точніше рядок, який ми отримали в результаті попередніх дій з завускаємо в цикл, який
            почергово буде брати останній символ і формувати новий рядок</p>
      </li>
      <li>
         <p>І в якості останньої деталі: повертаємо отриманий рядок приведений до числа</p>
      </li>
   </ol>
   <p>Стабільну роботу функції можна перевірити передавши до консолі функцію <b>reverseNumber(number)</b>.</p>

   <script src="../js/Algorithm_3.js"></script>
</body>

</html>