<!DOCTYPE html>
<html lang="uk">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Завдання 5</title>
</head>

<body>
   <a href="../index.html">Назад</a>

   <h1>Завдання 5</h1>
   <p>Валідувати та привести до формату 90991234567 введений номер телефону.</p>

   <form action="">
      <input name="input" type="text">
      <button>переформатувати</button>
      <p class="output"></p>
   </form>


   <p>Оскільки в умові завдання не розписано детально яке призначення у даної функції я відштовхувався від теоретичної
      ситуації, коли на сайті є форма замовлення колбеку, і номер який ввів клієнт потрібно запустити в телефонію для
      автоматичного дзвінка клієнту співробітником вихідної лінії </p>

   <ol>
      <li>Функція приймає в якості вхідних даних номер телефону, та очищає його від всього зайвого</li>
      <li>Далі визначає в якому форматі він прописаний, а саме в форматі +380991234567 / 380991234567 / 09912345678 /
         991234567</li>
      <li>Після цього перевіряє код оператора чи є це дійним кодом українського моб оператора</li>
      <li>і після очисток, якщо номер пройшов всі перевірки функція повертає стандартизований формат 90991234567</li>
   </ol>

   <script src="../js/task5.js"></script>
</body>

</html>